/* Begin Section */

.middle {
  height: 100%;
  margin: 15px auto;
}

img .selfie {
  margin-top: 50px;
}

section {
  .selfie {
    display: block;
    height: 350px;
    margin: 0 auto;
  }
  p {
    margin: 20px 10px;
    text-align: justify;
  }
  img {
    display: block;
    height: 100px;
    margin: 0 auto;
  }
}

.icontop {
  display: block;
  height: 100px;
  margin: 0 auto;
}

/* End Section */