section {
  .maternity img {
    height: 300px;
    border: solid #B6A2CC;
    border-radius: 30px;
  }
  p {
    text-align: center;
  }
  .newborn img, .baby img {
    height: 300px;
    border: solid #B6A2CC;
    border-radius: 30px;
  }
}